<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatRoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="~/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/plugins/APlayer/APlayer.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/plugins/layui/layui.js"></script>
    <script src="~/plugins/APlayer/APlayer.min.js"></script>
    <script src="~/plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.min.css">
    <script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>
</head>
<body style="height:100%;width:100%;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ChatRoom</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">首页</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ChatRoom</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
